.spinner {
  display: flex;
  width: 90px;
  height: 90px;
  justify-content: center;
  margin: 50px auto 0;
  border-radius: 50%;
  background: conic-gradient(from 180deg at 50% 50%,
      rgba(82, 0, 255, 0) 0deg,
      #010002 360deg);
  animation: spin 2s infinite linear;
}

.spinner::before {
  content: "";
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: #fff;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}